*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */

    --brand-red: #C92A2A;
    --brand-red-light: #FFE3E3;
    --brand-red-light-02: #FFF5F5;
    --brand-beige: #FFFAF1;
    --brand-red-hover: #821515;

    --gray-headline: #212529;
    --gray-paragraph: #495057;
    --white: #FFF;


    --nav-height: 7.2rem;
}

html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;

    overflow: overlay;
    background-color: #F7F9F9;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}


button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
}

section {
    padding-block: 10rem;
}

.wrapper {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}


header {
    padding-top: calc(4rem + var(--nav-height));
}

header::before {
    content: "";
    width: 100%;
    height: calc(108rem + var(--nav-height));
    display: block;
    background-color: var(--brand-red-light);

    position: absolute;
    top: 0;
    z-index: -1;
}

/* Navbar */

nav {
    padding: 1.6rem 2.4rem;

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    z-index: 100;
}

nav.scroll {
    background-color: var(--brand-red);
    width: 100vw;
}

nav.scroll svg:nth-child(1) path{
    fill: white;
}

nav.scroll button path{
    stroke: white;
}

nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Menu Expanded */

.menu {
    text-align: center;

    transform: translateY(100%);
}

.menu,
.menu-close,
body.menu-expanded .menu-open  {
    display: none;
}

body.menu-expanded .menu,
body.menu-expanded .menu-close {
    display: block;
}

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    display: none;
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--brand-red);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);

    transition: transform 300ms;
    transform: translateY(0);
}

body.menu-expanded nav {
    position: relative;
}

body.menu-expanded .menu ul:nth-child(1) {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.1rem;

    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
}

body.menu-expanded .menu ul li a {
    color: var(--white);
}

body.menu-expanded .btn-menu {
    background-color: var(--white);
    color: var(--brand-red);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;

    display: inline-block;

    padding: 1.6rem 3.2rem;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
}

body.menu-expanded .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path{
    fill: white;
}

body.menu-expanded nav button path{
    stroke: white;
}

/* Main */

.main-text h4 {
    font-size: 1.4rem;
    color: var(--brand-red);
    text-transform: uppercase;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight: 700;
}

.main-text h1 {
    font-size: 3.4rem;
    color: var(--gray-headline);
    line-height: 130%;
    text-align: center;

    margin-top: 16px;
    margin-bottom: 2.4rem;
}

.main-text p {
    font-size: 1.8rem;
    color: var(--gray-paragraph);
    line-height: 150%;
    text-align: center;

    margin-bottom: 3.2rem;
}

.main-text button {
    background-color: var(--brand-red);
    color: var(--white);
    border-radius: 4rem;

    height: 6.2rem;
    width: 26.3rem;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
}

.main-img img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

/* Stats */

.stats {
    width: 32.7rem;
    height: 47rem;

    margin-inline: auto;
    text-align: center;

    background-color: var(--white);
    border: 1px solid var(--brand-red-light);

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: .6rem;
}

.stat:not(:last-child) {
    margin-bottom: 6rem;
}

.stat h3 {
    color: var(--gray-headline);
    line-height: 130%;
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: .4rem;
}

.stat p {
    color: var(--brand-red);
    line-height: 150%;
    font-size: 1.6rem;
}


/* Services */

.services h4 {
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: var(--brand-red);
}

.services h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    text-align: center;
    color: var(--gray-headline);
    
    margin-top: 2.1rem;
    margin-bottom: 5.5rem;
}

.services .cards .card {
    padding: 2.4rem;
    border-radius: .6rem;

    background-color: var(--white);
    border: 1px solid var(--brand-red-light);
    color: var(--gray-headline);
}

.services .cards .card:not(:last-child) {
    margin-bottom: 3.2rem;
}

.services .cards .card h3 {
    font-size: 2.2rem;
    line-height: 3.1rem;

    margin-block: 1.6rem;
}

.services .cards .card p {
    line-height: 150%;
    color: var(--gray-paragraph);
    text-align: justify;
}


/* About */

.about {
    background-color: var(--brand-red-light-02);
}

.about h4 {
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--brand-red);
}

.about h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--gray-headline);
    
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
}

.about p {
    line-height: 150%;
    color: var(--gray-paragraph);
    margin-bottom: 6rem;
}


/* Contact */

.contact h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--gray-headline);
    
    margin-bottom: 3.2rem;
}


.contact p,
.contact button {
    display: flex;
    align-items: center;
}

.contact p {
    line-height: 150%;
    color: var(--gray-paragraph);
}

.contact p:nth-child(3) {
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
}

.contact p svg {
    margin-right: .8rem;
}

.contact button {
    background-color: var(--brand-red);
    color: var(--white);
    border-radius: 4rem;

    height: 5.6rem;
    width: 26.7rem;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-bottom: 6rem;
}
