*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */

    --brand-red: #C92A2A;
    --brand-red-light: #FFE3E3;
    --brand-red-light-02: #FFF5F5;
    --brand-beige: #FFFAF1;
    --brand-red-hover: #821515;

    --brand-red-border-opacity: rgba(201, 42, 42, .5);

    --gray-headline: #212529;
    --gray-paragraph: #495057;
    --white: #FFF;


    --nav-height: 7.2rem;
}


html {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.6rem;

    overflow: overlay;
    background-color: #F7F9F9;
}

li, ul {
    list-style: none;
}

a {
    text-decoration: none;
}


button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

img {
    max-width: 100%;
}

section {
    padding-block: 10rem;
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}


header {
    padding-top: calc(4rem + var(--nav-height));
}

header::before {
    content: "";
    width: 100%;
    height: calc(108rem + var(--nav-height));
    display: block;
    background-color: var(--brand-red-light);

    position: absolute;
    top: 0;
    z-index: -1;
}

/* Navbar */

nav {
    padding: 1.6rem 2.4rem;

    position: fixed;
    top: 0;
    width: 100vw;

    z-index: 100;
}

nav.scroll {
    background-color: var(--brand-red);
    width: 100vw;
}

nav.scroll svg:nth-child(1) path{
    fill: white;
}

nav.scroll button path{
    stroke: white;
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Menu Expanded */

.menu {
    text-align: center;

    transform: translateY(100%);
}

.menu,
.menu-close,
body.menu-expanded .menu-open  {
    display: none;
}

body.menu-expanded .menu,
body.menu-expanded .menu-close {
    display: block;
}

body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    display: none;
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--brand-red);

    width: 100vw;
    height: 100vh;

    padding-top: var(--nav-height);

    transition: transform 300ms;
    transform: translateY(0);
}

body.menu-expanded nav {
    position: relative;
}

body.menu-expanded .menu ul:nth-child(1) {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 3.1rem;

    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
}

body.menu-expanded .menu ul li a {
    color: var(--white);
}

body.menu-expanded .btn-menu {
    background-color: var(--white);
    color: var(--brand-red);
    border-radius: 4rem;
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.3rem;
    text-transform: uppercase;

    display: inline-block;

    padding: 1.6rem 3.2rem;
    margin-top: 4.8rem;
    margin-bottom: 8rem;

    transition: all ease .2s;
}

body.menu-expanded .btn-menu:hover {
    background-color: var(--brand-red);
    color: var(--white);
    
    filter: brightness(1.1);
}

body.menu-expanded .social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

body.menu-expanded .logo,
body.menu-expanded nav button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path{
    fill: white;
}

body.menu-expanded nav button path{
    stroke: white;
}

/* Main */

.main-text h4 {
    font-size: 1.4rem;
    color: var(--brand-red);
    text-transform: uppercase;
    line-height: 150%;
    text-align: center;
    letter-spacing: 0.08em;
    font-weight: 700;
}

.main-text h1 {
    font-size: 3.4rem;
    color: var(--gray-headline);
    line-height: 130%;
    text-align: center;

    margin-top: 16px;
    margin-bottom: 2.4rem;
}

.main-text p {
    font-size: 1.8rem;
    color: var(--gray-paragraph);
    line-height: 150%;
    text-align: center;

    margin-bottom: 3.2rem;
}

.main-text a {
    background-color: var(--brand-red);
    color: var(--white);
    border-radius: 4rem;

    padding: 1.6rem 3.2rem;
    width: fit-content;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;

    transition: all ease .2s;
}

.main-text a:hover {
    background-color: vaR(--brand-red-hover);
}

.main-img img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

/* Stats */

.stats {
    width: 100%;
    height: 47rem;

    margin-inline: auto;
    text-align: center;

    background-color: var(--white);
    border: 1px solid var(--brand-red-light);

    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: .6rem;
}

.stat:not(:last-child) {
    margin-bottom: 6rem;
}

.stat h3 {
    color: var(--gray-headline);
    line-height: 130%;
    font-size: 4.8rem;
    font-weight: 700;
    margin-bottom: .4rem;
}

.stat p {
    color: var(--brand-red);
    line-height: 150%;
    font-size: 1.6rem;
}


/* Services */

.services h4 {
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: var(--brand-red);
}

.services h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    text-align: center;
    color: var(--gray-headline);
    
    margin-top: 2.1rem;
    margin-bottom: 5.5rem;
}

.services .cards .card {
    padding: 2.4rem;
    border-radius: .6rem;

    background-color: var(--white);
    border: 1px solid var(--brand-red-light);
    color: var(--gray-headline);
}

.services .cards .card:not(:last-child) {
    margin-bottom: 3.2rem;
}

.services .cards .card h3 {
    font-size: 2.2rem;
    line-height: 3.1rem;

    margin-block: 1.6rem;
}

.services .cards .card p {
    line-height: 150%;
    color: var(--gray-paragraph);
    text-align: justify;
}


/* About */

.about {
    background-color: var(--brand-red-light-02);
}

.about h4 {
    font-size: 1.4rem;
    line-height: 150%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--brand-red);
}

.about h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--gray-headline);
    
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
}

.about p {
    line-height: 150%;
    color: var(--gray-paragraph);
    margin-bottom: 6rem;
}


/* Contact */

.contact h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--gray-headline);
    
    margin-bottom: 3.2rem;
}


.contact p,
.contact button {
    display: flex;
    align-items: center;
}

.contact p {
    line-height: 150%;
    color: var(--gray-paragraph);
}

.contact p:nth-child(3) {
    margin-top: 1.6rem;
    margin-bottom: 3.2rem;
}

.contact p svg {
    margin-right: .8rem;
}

.contact a {
    background-color: var(--brand-red);
    color: var(--white);
    border-radius: 4rem;

    padding: 1.6rem 3.2rem;
    width: fit-content;

    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-bottom: 6rem;

    transition: all ease .2s;
}

.contact a:hover {
    background-color: vaR(--brand-red-hover);
}

/* Footer */

.footer {
    background-color: var(--brand-red);
    padding-block: 6rem;
    text-align: left;
}

.footer .footer-text svg {
    margin-bottom: 2.4rem;
}

.footer .footer-text p {
    color: var(--brand-beige);
    line-height: 2.1rem;
}

.footer .footer-text p:not(:last-child) {
    margin-bottom: 1.2rem;
}

.footer ul {
    display: flex;
    margin-top: 3.2rem;
    gap: 3.2rem;
}


/* Button back to top */

#backToTopButton {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;

    opacity: 0;
    visibility: hidden;

    transform: translateY(100%);
    transition: 200ms;
}

#backToTopButton.show {
    opacity: 1;
    visibility: visible;

    transform: translateY(0);
}


/* Media Queries */

@media (min-width: 1024px) {

    body {
        overflow: auto;
    }

    section {
        padding-block: 16rem;
    }

    section .wrapper h2 {
        font-size: 4rem;
        line-height: 5.2rem;
    }

    .wrapper {
        width: min(112rem, 100%);
        display: grid;
    }

    nav.wrapper * {
        display: flex;
        align-items: center;
    }

    nav#navigation * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: flex;
        flex-direction: initial;
        position: initial;
        opacity: initial;
        visibility: initial;
        font-size: initial;
        font-weight: initial;
        transform: initial;
        color: initial;
    }

    nav#navigation .menu-close,
    nav#navigation .menu-open,
    nav#navigation .social-links {
        display: none;
    }

    nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;
    }

    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;
    }

    nav#navigation .menu ul li a {
        display: block;

        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.1rem;
        color: var(--brand-red);
        opacity: 0.7;
    }

    nav#navigation .menu ul li a:hover,
    nav#navigation .menu ul li a.active {
        opacity: 1.5;
    }

    nav#navigation .menu ul li a::after,
    nav#navigation .menu ul li a.active::after{
        content: '';
        height: 2px;
        width: 0%;
        background-color: var(--brand-red);

        position: relative;
        bottom: -1rem;

        display: block;
        transition: width 0.2s;
    }

    nav#navigation .menu ul li a:hover::after,
    nav#navigation .menu ul li a.active::after{
        width: 100%;
    }

    nav#navigation .menu .btn-menu {
        padding: 1rem 2.4rem;
        color: var(--brand-red);
        border: 1px solid var(--brand-red);
        border-radius: 4rem;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.4rem;
        list-style: 1.8rem;

        transition: all ease .2s;
    }


    nav#navigation .menu .btn-menu:hover {
        background-color: var(--brand-red);
        color: var(--brand-red-light);
        border-color: var(--brand-red);
    }

    nav#navigation.scroll .menu ul li a  {
        color: var(--brand-red-light-02);
        opacity: 0.8;
    }

    nav#navigation.scroll .menu ul li a:hover,
    nav#navigation.scroll .menu ul li a.active  {
        opacity: 1;
        color: var(--white);
    }

    nav#navigation.scroll .menu ul li a::after,
    nav#navigation.scroll .menu ul li a.active::after{
        content: '';
        height: 2px;
        width: 0%;
        background-color: var(--white);

        position: relative;
        bottom: -1rem;

        display: block;

        transition: width 0.2s;
    }

    nav#navigation.scroll .menu ul li a:hover::after,
    nav#navigation.scroll .menu ul li a.active::after{
        width: 100%;
    }

    nav#navigation.scroll .menu .btn-menu {
        border-color: var(--white);
        color: var(--white);

        transition: all ease .2s;
    }

    nav#navigation.scroll .menu .btn-menu:hover {
        background-color: var(--brand-red);
        filter: brightness(1.3);
        border-color: var(--brand-red);
    }


    /* Home */

    #home::before {
        height: calc(106% - var(--nav-height));
    }

    #home{
        padding-top: var(--nav-height);
    }

    #home .wrapper {
        grid-template-columns: 60.5rem 1fr;
        grid-template-areas: 
        'A B'
        'C C';
    }

    #home .main-text {
        grid-area: A;
        align-self: center;
    }

    #home .main-text h4,
    #home .main-text h1,
    #home .main-text p{
        text-align: left;
    }

    #home .main-text h1 {
        font-size: 5.2rem;
    }

    #home .main-text p {
        font-size: 1.8rem;
    }

    #home .main-text a {
        margin: 0;
    }

    #home .main-img {
        grid-area: B;
    }

    #home .main-img img {
        width: 42rem;
    }

    #home .stats {
        grid-area: C;
        flex-direction: row;
        height: auto;
        padding: 6rem;
    }

    #home .stats .stat{
        margin-bottom: 0;
    }

    #home .stats .stat{
        margin-bottom: 0;
        flex: 1;
    }

    #home .stats .stat:not(:last-child) {
        border-right: 1px solid var(--brand-red-border-opacity);
    }

    /* Services */
    #services h2 {
        width: 49.7rem;
        margin-inline: auto
    }

    #services .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
    }

    #services .card {
        width: 30%;
        flex-grow: 1;
        margin-bottom: 0;
    }

    /* About */

    #about .wrapper {
        grid-template-columns: 48rem 1fr;
        grid-template-areas:
        'B A';
        gap: 6.7rem;
    }

    #about .about-text {
        grid-area: A;
        align-self: center;
    }

    #about p {
        margin-bottom: 0;
    }

    #about .about-img {
        grid-area: B;
    }

    
    /* Contact */
    #contact .wrapper {
        grid-template-columns: 1fr 57.5rem;
        grid-template-areas: 'A B';

    }

    #contact .contact-text {
        order: A;
        align-self: center;
    }

    #contact .contact-text h2 {
        width: 40.4rem;
    }

    #contact .contact-text a {
        margin-bottom: 0;
    }

    /* Footer */
    .footer {
        padding-block: 8rem;
    }

    .footer .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    .footer ul {
        margin-top: 0;
        align-self: center;
        justify-self: end;
    }

}

@media (min-width: 1025px) {
    nav#navigation .wrapper {
        margin-inline: auto;
    }
}